/* CSS for About Us Page */

/* SATRT: Common Components */
.header{
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin-right: 100px;
    height: 60px;
}
.more{
    position: absolute;
    left: 5%;
    top:2.5%;
    font-size: 30px;
    color: white;
}
.pageTitle{
    position:absolute;
    left: 35%;
    font-size: 20px;
    white-space: nowrap;
}
.container{
    display: grid;
    flex-direction: row;
    place-items: center;
    height: 100vh;
    background-color: #006973;
    overflow-y: auto;
    overflow-x: hidden;
}
.main{
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-bottom: 80px;
    background-color: #CFEEF5;
    overflow-x: hidden;
    overflow-y:scroll;
}
.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.uploaded-avatar {
    width: 100%;
    height: 100%;
}
.defalut-avatar{
    width: 70%;
    height: 80%;
}
/* END: Common Components */

/* SATRT: Unique CSS for About Us */
h1{
    font-size: 29px;
    letter-spacing: 150.2%;
    color:#185B8B;
    margin-left: 10px;
    margin-right: 10px;
}
h3{
    width:328px;
    color:#185B8B;
    margin-left: 10px;
    margin-right: 10px;
}
p.miniTitle{
    color: #006973;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
p{
    margin-left: 10px;
    margin-right: 10px;
}
.whiteCircle{
    background-color: white;
    border-radius: 50%;
    filter: blur(5px);
}
.largeLogo{
    height: 181px;
    width: 189px;
}
.footerLogo{
    height: 57px;
    width: 59.6px;
}
.footerWhiteCircle{
    height: 90px;
    width: 90px;
}
div.whiteBackground{
    background-color: white;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    box-shadow: 1px 2px 2px #c7c8ca;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}
p.feature{
    color: #006973;
    font-size: 14px;
    margin: 0px;
    line-height:21px;
}
.fourIcons{
    font-size: 84px;
    color: #55BBC9;
    padding-top: 15px;
    padding-bottom: 3px;
    margin: 0px;
}
#comunityIcon{
    font-size: 77px;
    color: #55BBC9;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 3px;
}
.fourMainFeatures{
    display: flex;
}
#img_doctor_female{
    height: 185px;
    width: 160px;
}
#img_doctor_male{
    height: 195px;
    width: 165px;
}
.fadedBox{
    height: 120px;
    width: 425px;
    background-color: #d57b0d;
    box-shadow: 0px 0px 20px 20px #d57b0d; 
    margin-left: 10px;
    margin-right: 10px;
}
.footer_aboutUs{
    width: 390px;
    background-color: #006973;
    color: white;
    place-items: center;
    text-align: center;
}
.button_signUp{
    color:white;
    background-color: #55BDCA;
    height: 44px;
    border-radius: 10px;
    border: none;
    margin-top:5%;
    margin-left:2.5%;
    width:80%;
    margin-bottom: 10px;
    font-size:17px;
}
.parent_doctors{
    position: relative;
    margin-top: 20px;
}
.child_fadedBox{
    position: absolute;
    top: 200px;

    height: 20px;
    width: 390px;
    background-color: #CFEEF5;
    box-shadow: 0px 0px 45px 45px #CFEEF5; 
    margin-left: 10px;
    margin-right: 10px;
}
/* END: Unique CSS for About Us */