/* START: Unique CSS for Add Post Page */
.header{
    color: white;
    width: 100%;
}
input.postButton{
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: white;
    margin-top: 5%;
    margin-left: 87%;
}
.container{
    display: grid;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    background-color: #006973;
    overflow-y: hidden;
}
.main{
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 80px;
    background-color: white;
}
.user_icon_name{
    display: flex;
    align-items: left;
    flex-direction: row;
}
.user_icon{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #CFEEF5;
}
.userName{
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
}
.post_title{
    outline: solid 1px #CAC4CD;
    border: none;
    border-radius: 10px;
    width: 98%;
    height: 34px;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 15px;
}
input[type="text"]:focus {
    outline: solid 1px #55BDCA;
}
::placeholder{
    font-size: 18px;
    color: #949596;
    padding-left: 5px;
}
.post_content{
    border: none; 
    outline: none;
    background-color: transparent;
    caret-color: #55BDCA;
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
    overflow-y: auto;
}
.selected-images{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 5px;
    height: 125px;

    width: 350px;
    display: block;
}
.selected-image{
    width: 192px;
    height: 125px;
    padding-right: 4px;
}
.image_icon{
    font-size: 32px;
    color: #006973;

    position: absolute;
    bottom: 20px;
    left: 5;
}
/* END: Unique CSS for Add Post Page */