/* User Profile Css */
.header{
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin-right: 100px;
    height: 60px;
}
.more{
    position: absolute;
    left: 5%;
    top:2.5%;
    font-size: 30px;
    color: white;
}
.user{
    position:absolute;
    left: 30%;
    font-size: 30px;
}
.pageTitle{
    position:absolute;
    left: 40%;
    font-size: 20px;
    white-space: nowrap;
}
.edit{
    position: absolute;
    right:20px;
    top:20px;
    font-size: 30px;
}
.container{
    display: grid;
    flex-direction: row;
    place-items: center;
    height: 100vh;
    background-color: #006973;
    overflow-y: auto;
    overflow-x: hidden;
}
.main{
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-bottom: 80px;
    background-color: white;
    overflow-x: hidden;
}
p{
    text-align: center;
    /*color: white;*/
    color:black;
}
.box{
    width: 350px;
    height: 110px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
    margin-left: 5px;
    margin-bottom: 15px;
}
.collectionImage{
    width: 80px;
    height: 60px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}
.friend_avatar{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    float:left;
}
.add{
    font-size: 40px;
    color: #006973;
    float:right;
    margin-right:5px;
}
.image{
    height: 20px;
    width: 40px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
#addMed{
    color: #006973;
}
#profile{
    color: #006973;
}
.footerBtn{
    font-size: 45px;
    color: gray;
    height: 50px;
    width: 50px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
#homeText{
    position: relative;
    color: gray;
    right: 50px;
}
#medText{
    position: relative;
    color: gray;
    right: 35px;
}
#rewardsText{
    position: relative;
    color:gray;
    left: 35px;
}
#profileText{
    position: relative;
    color: #006973;
    left: 48px;
}
.uploaded-avatar {
    width: 100%;
    height: 100%;
}
.defalut-avatar{
    width: 70%;
    height: 80%;
}
.menu-item{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.menu-icon{
    color: #ffffff;
    font-size: 20px;
}
.menu-icon1{
    color: #ffffff;
    font-size: 25px;
    margin-right: 15px;
}
.menu-icon2{
    color: #ffffff;
    font-size: 25px;
    margin-right: 5px;
}
.menu-icon3{
    color: #ffffff;
    font-size: 25px;
    margin-right: 1px;
}
.menu-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.menu-button3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 130px;
    cursor: pointer;
}
.menu-button3 p{
    font-size: 20px;
    font-weight: 550;
    margin: 20px 35px;
}
.menu-button p{
    font-size: 20px;
    font-weight: 550;
    margin: 30px 30px;
    text-decoration: none;
}

/* START: Bottom Navigation Bar */
.bottomButton{
    padding-left:20px;
    padding-right: 20px;
}
.footer{
    display: inline;
    position: fixed;
    text-align: center;
    bottom: 0;
    height:80px;
    --bottom-navigation-item-font-size: 13px;
    --bottom-navigation-item-active-color: #55BDCA;
    white-space: nowrap;
}  
.addButton{
    font-size: 35px;
}
/* END: Bottom Navigation Bar */

/* START: Unique CSS for Community Page */
.sectionFilter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*space-around: 23px, 28px;*/
    margin-top: -10px;
    padding-bottom: 15px;
}
.sectionFilter label{
    display: block;
    font-size: 16px;
    color: #949596;
    cursor: pointer;
}
.sectionFilter input:checked+label{
    font-weight: bold;
    color: #006973;
    font-size: 20px;
    margin-top: -1%;
}
.sectionFilter input{
    display: none;
}
.icon_name_time{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;   
}
.avatar{
    display: block;
    height: 50px;
    width: 50px;
    background-color: #7c8383;
    border-radius: 50%;
}
.postCard{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    flex-direction: column;
}
.username{
    display: block;
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
}
.time-ago{
    display: block;
    color: #949596;
    font-size: 16px;
    margin-left: 15px;
}
.content{
    font-size: 16px;
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
}
.seeMoreButton{
    color: #949596;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    padding-left: 0%;
    padding-bottom: 6px;
    padding-top: 0px;
}
.postTitle{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 1.5%;
    line-height: 19px;
}
#image-scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 5px;
    height: 125px;

    width: 350px;
    display: block;
}
.aImage {
    width: 192px;
    height: 125px;
    padding-right: 4px;
    object-fit: cover;
}
.like_comment_section{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
}
.thumbLike_icon{
    font-size: 20px; 
    color: #F27B42;
    padding-left: 10px;
    padding-right: 5px;
}
.comment_icon{
    font-size: 20px; 
    color: #949596;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
}
.numberOfLikes{
    color: #949596;
    margin: 0px;
    padding-right: 5px;
}
.numberOfComments{
    color: #949596;
    margin: 0px;
}
.scrollToTopButton {
    position: fixed;
    font-size: 60px;
    color: #006973;
    right: 10px;
    bottom: 10%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.scrollToTopButton:hover {
    background-color: #E6E6E6;
}
hr{
    background-color:#E5E5E5;
    border: none;
    height:1px;
}
/* START: Event Section */
.card_event{
    height: 250px;
    background-color: #CFEEF5;
    border-radius: 10px;
    margin:  0 auto;
    width: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
img.event{
    width: 350px;
    height: 149px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.event-date{
    color: black;
    padding: 5px;
    padding-left: 10px;
    margin: 0px;
}
a.eventLink{
    padding: 5px;
    padding-left: 10px;
    color: black;
    width: 357px;
    word-wrap: break-word;
}
.scroll-to-top-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
/* END: Event Section */

/* START: News Section */
.card_TrendingNews{
    display: block;
    position: relative;
}
.trendingNews-scroll-container{
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 5px;
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: row;
}
.trendingNews-scroll-container img{
    border-radius: 10px;
    width: 315px;
    height: 200px;
    margin-right: 10px;
    position: relative;
    object-fit: cover;
}
h3{
    text-align: left;
    margin-bottom: 10px;
}
h5{
    color: #FFFFFF;
    text-align: left;
}
.top-left{
    /* Date for a trending news */
    position: absolute;
    top: 10px;
    left: 15px;
    margin-top: 0;
    margin-bottom: 0;
}
.bottom-center{
    /* Header for a trending news */
    position: absolute;
    bottom: 10px;
    left: 15px;
    width: 283px;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal;
    filter: drop-shadow(1px 1px 1px white);
}
div.card_latestNews{
    width: 350px;
    display: flex;
    flex-direction: row;
    height: 115px;
    position: relative;
}
.latestNews-title{
    margin-top: 0px;
    margin-bottom: 10px;
    padding-right: 5px;
}
.latestNews-date{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #949596;
    position: absolute;
    bottom: 0px;
}
img.latestNews{
    width: 135px;
    height: 115px;
    border-radius: 5px;
    object-fit: cover;
}
hr.latestNews{
    margin-top: 15px;
    margin-bottom: 15px;
}
/* END: News Section */

/* START: Group Section */
/* END: Group Section */

/* END: Unique CSS for Community Page */
