/* Edit Med Page Css */
.calculationPart{
    display:flex;
    width:40%;
    height:100%;
    margin-left:20%;
    border: 4px solid #1890FF;
    border-radius:10px 10px 10px 10px;
    margin:0;
    padding:0;
  }
  .buttons{
    height:30%;
    width:100%;
  }

  #textarea1{
    background-size: 100% 4rem;
    border: 1px solid  #DDDDDD;
    width: 86%;
    line-height: 2rem;
    padding: 2% 2%;
    font-size:99%;
    color:black;
    margin-left:4%;
    font-family: arial;
    margin-top:3%;
  }

 .row-input{
    color: black;
    background-color: #f4f4f4;
    border: 2px solid #f0dddd;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 3.5px;
    padding-left: 10px;
    outline: none;
    font-size:100%;
    margin-left:4.5%;
    margin-top:3%;
  }

  .container-flex{
    display:flex;
  }

  .BellBtn{
    font-size: 30px;
    color: #1890FF;
    position:relative;
    margin-left:60%;
    size:40%;
}
  
  .note{
    position:relative;
    width:130px ; 
    height:30px;
    top:7%;
    left:2%;
    font-size:110%;
    border-radius:10px 10px 10px 10px;
    background-color: #1890FF;
    text-align: center;
    color:white;
    cursor: pointer;
  }
  .note:hover{
    background-color: grey;
  }

  #date{
    margin-left: 3%;
    margin-top: 10px; 
    width:92%; 
    height:10px;
  }
  .number{
    display: block;
    float:center;
    background-color: rgb(253, 248, 248);
    bottom: 13%;
    width:1%;
    position:relative;
    font-size:200%;
    color:#1890FF;
    margin-left:12%;
    margin-right:5%;
    
  }
  .increaseButton{
    font-size:180%;
    margin-left:30%;
    color:#1890FF;
    position:relative;
    top:4px;
    
  }

  .decreaseButton{
    font-size:180%;
    margin-right:10%;
    color:#1890FF;
    top:4px;
    position:relative;
  }

  .calculationPart{
    display:flex;
    width:40%;
    height:80%;
    border: 2px solid #1890FF;
    border-radius:10px;
    justify-content: center;
    padding-left:10%;
    padding-right:10%;
    margin-left:17%;
    margin-top:5%;
  }

.unitButton{
  color: #a19191;
  text-align: center;
  float:right;
  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(253, 248, 248);
  width:45px;
  position:relative;
  font-size: 15px;
  border-radius:10px 10px 10px 10px;
  border: 2px solid #a39e9e;
  height:8px;
  bottom:3%;
  right:49%;
  
}

#counter {
  font-size: 24px;
  text-align: center;
}
  .Button{
      position: relative;
      background-color: #1890FF;
      border: none;
      font-size:130%;
      color: #ffffff;
      padding: 0px;
      width: 50%;
      text-align: center;
      transition-duration: 0.6s;
      text-decoration: none;
      overflow: hidden;
      cursor: pointer;
      left:20%;
      border-radius:10px 10px 10px 10px; 
      height: 4%;
      margin-top:40px;
      line-height: -50px;
  }

  .Button::after{
      content: '';
      background:#53a4f0;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px ;
      margin-top: -120%;
      opacity: 0;
      transition:all 0.8s;
  }
  .Button:active::after{
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
  }

.container{
overflow-y: auto;
  display: flex;
  align-items: center;
  height: 100%;
  width:100%;
  background-color: #1890FF;
  overflow: auto;
  flex-direction: column;
  margin: 0 ;
}

#container2{
overflow-y: auto;
  padding-left:auto;
  padding-right:auto;
  align-items: center;
  margin-top:6%;
  background-color: rgb(253, 253, 253);
  height:200%;
  width:100%;
  padding-bottom:100px;
  justify-content: center;
  align-items: center;
  display:inline-block;
}

#title{
font-size: 130%;
position:relative;
color:#FFFFFF;
margin:5px;
left:19%;
top:13%;
width:100%;
padding-top:6.5%;
}

#label{   
width:95%;
font-weight:600;
font-size: 85%;
color:  #1890FF;
margin-left:4%;
text-align: left;
letter-spacing:1px;
margin-bottom:0%;
margin-top:5%;
}

input{
align-items: center;
width:89%;    
font-size:100%;   
background-color: white;
border:none; 
border-bottom: 3px solid #DDDDDD;
color: black;
margin-left:4%;
letter-spacing:1px;
margin-bottom:2%;
margin-top:2%;
} 

input[type="time"] {
width:23%;
padding:2%;
font-size:100%;
size:5%;
margin-left:5%;
font-family:system-ui;
margin-top:2%;
margin-bottom:4%;
}
input:focus
{ 
outline-style: none;
border-bottom: 3px solid #c2b5b5;
}

.backBtn{
  font-size: 25px;
  color:#FFFFFF;
  position:relative;
  margin-top:80%;
  right:200%;
}

.menu {
display: inline-block;
left:4%;
position:relative;
}

.selected-option {

width: 120%;
padding: 10px;
background-color: #f4f4f4;
border-radius: 5px;
cursor: pointer;
border: 1px solid white;
color:#008866;
font-size:17px;
letter-spacing:1px;
}

.login-button{
  margin-top:5%;
  margin-left:2.5%;
  width: 95%;
  height: 350%;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 700;
  background-color:black;
  font-size:17px;
}

.login-button{
color:white;
position: relative;
display: inline-block;
padding: 10px 20px;
background-color: transparent;
background-color:#1890FF;
border: 2px solid white;
transition: background-color 0.5s, color 0.5s;
}
