/* Homepage Css */
/* -------------------------------- Base Layout -----------------------------------------------*/
.container{
    display: grid;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #006973;
}
.content-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}
/* -------------------------------- Base Layout -----------------------------------------------*/

/* -------------------------------- Component Layout ------------------------------------------*/
.header{
    height: 60px;
}
.main{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100vw;
    height: 100%;
    overflow-y: auto;
    --el-main-padding: 0px;
}
/* -------------------------------- Component Layout -------------------------------------------*/

/* -------------------------------- Footer -----------------------------------------------------*/
.bottomButton{  
    width: 90px;
    padding-left:20px;
    padding-right: 20px;
}
.footer{
    display: inline;
    position: fixed;
    text-align: center;
    bottom: 0;
    height:80px;
    --bottom-navigation-item-font-size: 13px;
    --bottom-navigation-item-active-color: #55BDCA;
    white-space: nowrap;
}  
/* -------------------------------- Footer -----------------------------------------------------*/

/* -------------------------------- Header -----------------------------------------------------*/
.userbtn{
    position: absolute;
    left:5%;
    top:1.5%;
    font-size: 30px;
    color: white;
}
.username{
    position: relative;
    top: 20px;
    left: 45px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}
.more{
    position: absolute;
    left:20px;
    top:15px;
    font-size: 30px;
    color: white;
}
/* -------------------------------- Header ------------------------------------------------------*/
.sidebar{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.uploaded-avatar {
    width: 100%;
    height: 100%;
}
.defalut-avatar{
    width: 70%;
    height: 80%;
}

/* -------------------------------- Small Screen -----------------------------------------------*/
@media screen and (max-width: 400px) {
    .content-container{
        overflow-y: auto;
        overflow-x: auto;
    }
}
/* -------------------------------- Small Screen ------------------------------------------------*/