/* MyMeds Page Css */
/* Header */
.header{
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin-right: 100px;
    
}
.more{
    position: absolute;
    left:5%;
    top:1.5%;
    font-size: 30px;
    color: white;
}
.pageTitle{
    position:relative;
    left: 40%;
    font-size: 20px;
    white-space: nowrap;
}
  .TopBar{
    width: 366px;
    height: 55px;
    top: 50px;
    left: 40px;
    padding: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .statue-bar {
    width: 375px;
    height: 40px;
    left: 28px;
  }

  .leading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    gap: 10px;
    font-size: 48px;
  }

  .headline {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headline-text {
    font-family: "Myanmar Khyay", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
  }


  .bar-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .BarMenu_Home,
  .BarMenu_Calender,
  .BarMenu_Plus,
  .BarMenu_MyMeds,
  .BarMenu_Rewards {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0f0f0f;
  }

  .BarMenu_Home,
  .BarMenu_Calender,
  .BarMenu_MyMeds,
  .BarMenu_Rewards {
    width: 80px;
    height: 54px;
    font-size: 54px;
  }

  .BarMenu_Plus {
    width: 54px;
    height: 54px;
    font-size: 50px;
  }

  .BarMenu_Plus el-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .capsules_blue-img {
    width:50px;
    height:50px;
    font-size: 50px;
    position: relative;
  }
  /* Container & Main */
  .container{
    display: grid;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    background-color: #006973;
    overflow-y: auto;
}
.main{
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: 100vh;
    background-color:white;
    width: 100%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 80px;
}
  .my-main{ 
    width: 430px;
    height: 100%;
    border: 2px solid #1b1919;
  }
  .ExperiedContainer{
    margin-top: 3%;
    width: 100%;
  }

  .ExperiedMedication {
    text-align: center;
    width: 100%;
    height: 25px;
    top: 135px;
    left: 53px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
  }

  .medication-word {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #006973;
  }

  .sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }

.uploaded-avatar {
        width: 100%;
        height: 100%;
}
.defalut-avatar{
    width: 70%;
    height: 80%;
}
.menu-item{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.menu-icon{
    color: #ffffff;
    font-size: 20px;
}
.menu-icon1{
    color: #ffffff;
    font-size: 25px;
    margin-right: 15px;
}
.menu-icon2{
    color: #ffffff;
    font-size: 25px;
    margin-right: 5px;
}
.menu-icon3{
    color: #ffffff;
    font-size: 25px;
    margin-right: 1px;
}
.menu-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.menu-button3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 130px;
    cursor: pointer;
}
.menu-button3 p{
    font-size: 20px;
    font-weight: 550;
    margin: 20px 35px;
}
.menu-button p{
    font-size: 20px;
    font-weight: 550;
    margin: 30px 30px;
    text-decoration: none;
}
.zeroObjAlert{
    width:90%;
    height:20%;
    background-color:#f4f4f4;
    border-radius: 5px;
    align-items: center;
    margin-left:5%;
    text-align: center;
    border-bottom: 3px solid #DDDDDD;
}

.zeroObjAlertP{
    color:#006973;
    position: relative;
    top:20%;
    font-size:200%;
}

.container-flex{
    height: 80px;
    width:100%;
    display:flex;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.container-block{
    width:100%;
    height:100%;
    position: relative;
    left: 20px;
    
}

.Drug_picture{
    width:50px;
    height:50px;
    font-size: 50px;
    position: relative;
    left: 20px;
}

.Drug_name
{
    width:220px;
    height:25px;
    position: relative;
    top:18px;
    left: 20px;
    display:flex;
    align-items: center;
    
}

.medName-font{
    font-family: Myanmar Khyay;
    font-size: 15px;
    font-weight: bold;  
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    align-items: flex-end;
    
}

.Drug_data{
    width: 230px;
    height: 12px;
    position: relative;
    top:25px;
    left: 20px;
    display:flex;
    align-items: center;
    
}

.medData-font{
    font-family: Myanmar Khyay;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.arrow_button{
    height: 100%;
    width: 30px;
    position: relative;
    right: 20px;
    display:flex;
    align-items: center;
}

.arrowBtn_icon{
    font-size: 30px;
    color: #006973;
}
.medObject{
    border-bottom: 2px solid #DDDDDD;
    width:100%;
    height:14%;
}

.date{
    color : #a39e9e;
    font-size:3px;
    margin-left:6%;       
    display:relative;
    padding:0;
    letter-spacing:0.5px;
}