/* User Profile Css */
.header{
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin-right: 100px;
    height: 60px;
}
.user{
    position:absolute;
    left: 30%;
    font-size: 30px;
}
.pageTitle{
    position:absolute;
    left: 40%;
    font-size: 20px;
    white-space: nowrap;
}
.container{
    display: grid;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    background-color: #006973;
    overflow-x: hidden;
}
.main{
    padding: 0px;
    height: 90vh;
    background-color: white;
    width: 100%;
}
.box{
    width: 350px;
    height: 110px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
    margin-left: 5px;
    margin-bottom: 15px;
}
.boxTitle{
    padding-left: 15px;
}
.collectionImage{
    width: 80px;
    height: 60px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}
.friend_avatar{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    float:left;
}

/* START: Unique CSS Code for Post Detail Page */
.arrowBack{
    position: absolute;
    left: 5%;
    top:2.5%;
    font-size: 30px;
    color: white;
}
.postDetail_section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.icon_name_time{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;   
}
.avatar{
    display: block;
    height: 50px;
    width: 50px;
    background-color: #7c8383;
    border-radius: 50%;
}
.commentedUserAvatar{
    display: block;
    height: 30px;
    width: 30px;
    background-color: #7c8383;
    border-radius: 50%;
}
.username{
    display: block;
    font-size: 16px;
    margin-left: 15px;
    font-weight: bold;
}
.time-ago{
    display: block;
    color: #949596;
    font-size: 16px;
    margin-left: 15px;
}
.content{
    font-size: 16px;
    width: 100%;
    display: block;
    text-align: left;
    margin-top: 0%;
    margin-bottom: 0%;
    color: black;
}
.postTitle{
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    margin-top: 2%;
    margin-bottom: 1.5%;
    line-height: 19px;
    color: black;
}
#image-scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-radius: 5px;
    height: 125px;

    width: 350px;
    display: block;
}
.aImage {
    width: 192px;
    height: 125px;
    padding-right: 4px;
}
.like_comment_section{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
}
.thumbLike_icon{
    font-size: 20px; 
    color: #F27B42;
    padding-left: 10px;
    padding-right: 5px;
}
.comment_icon{
    font-size: 20px; 
    color: #949596;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
}
.numberOfLikes{
    color: #949596;
    margin: 0px;
    padding-right: 5px;
}
.numberOfComments{
    color: #949596;
    margin: 0px;
}
#postDetail_footer{
    bottom: 0;
    height: 60px;
    width: 100%; /* NOTE: Better to use '100%' or 'rem' ? */
    white-space: nowrap;

    display: flex;
    align-items: center;
    flex-direction: row;

    background-color: white;
    position:fixed;
}
.image_icon{
    font-size: 32px;
    bottom:10px;
    left:0;
    color:#006973;

    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 1;
}
div.enterCommentHere{
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 1;
    padding-bottom: 5px;
    padding-right: 10px;
    width: 80%;
}
.arrow_to_send_a_comment{
    color: #01385C;
    font-size: 32px;
    height: 32px;

    position: absolute;
    bottom: 20%;
    right: 10px;
    z-index: 1;
}
input{
    height: 37px;
    font-size: 16px;
    background-color: #E5E5E5;
    border-radius: 10px;
    border: none;
    width: 100%;
}
input:focus {
    border: 2px solid #55BDCA; 
    z-index: 10;
    outline: 0;
}
::placeholder {
	padding-left: 9px;
}
/* END: Unique CSS Code for Post Detail Page */