/* Signup Page Css */
/* -------------------------------- Base Layout -----------------------------------------------*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CFEEF5;
    overflow: hidden;
}
.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
}
/* -------------------------------- Base Layout -----------------------------------------------*/

/* -------------------------------- Back Button -----------------------------------------------*/
.backBtn{
    margin: -170px;
    font-size: 30px;
    color:#006973;
    position: sticky;
    top: 30px;
}
.switchBtn{
    margin-left: 10px;
}
/* -------------------------------- Back Button -----------------------------------------------*/

/* -------------------------------- Component -------------------------------------------------*/
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#006973;
    margin-bottom: 100px;
    text-align: left;
}
.input{
    color: #006973;
    background-color: white;
    border: 2px solid #006973;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
    outline: none;
}
.label-container{
    margin-right: 10px;
}
.input-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    text-align: left;
    justify-content: center;
    margin: 8px;
}
.row-input{
    color: #006973;
    background-color: white;
    border: 2px solid #006973;
    width: 317px;
    height: 45px;
    border-radius: 10px;
    margin: 3.5px;
    padding-left: 10px;
    outline: none;
}
.switchBtn{
    padding-left: 10px;
}
/* -------------------------------- Component -------------------------------------------------*/

/* -------------------------------- Small Screen -------------------------------------------*/
@media screen and (max-width: 400px) {
    .container{
        overflow-y: auto;
    }
    .input-row{
        width: 100%;
    }
    
    .input{
        width: 300px;
        height: 25px;
    }
    .row-input{
        width: 318px;
        height: 32px;
    }
    
    .backBtn{
        font-size: 30px;
        margin: -170px;
        margin-top: 150px;
        color:#006973;
    }

    .buttons{
        bottom: 10px;
        left: 50%;
        margin-left: 8px;
        transform: translateX(-50%);
    }
    .login-button{
        width: 100%;
        height: 63px;
    }
    .login-button::before{
        width: 2px;
    }
}
/* -------------------------------- Small Screen -------------------------------------------*/
/* placeholder */
::placeholder{
    color: #006973;
}
/* -------------------------------- Buttons -------------------------------------------------*/
.buttons{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.login-button{
    width: 319px;
    height: 63px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 700;
    background: #006973;
    color: #006973;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 2px solid #006973;
    transition: background-color 0.5s, color 0.5s;
}

.login-button:hover{
    background-color: #FFFFFF;
    color: #006973;
    transform: translateZ(10px);
}

.login-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FFFFFF;
    transition: width 0.3s;
    z-index: -1;
}

.login-button:hover{
    background-color: #FFFFFF;
    color: #006973;
    border-radius: 10px;
}

.login-button:hover::before{
    width: 100%;
    border-radius: 10px;
}
/* -------------------------------- Buttons -------------------------------------------------*/