/* User Profile Css */
.header{
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    
}
.more{
    position: absolute;
    left: 20px;
    top:2.5%;
    font-size: 30px;
    color: white;
}
.user{
    position:absolute;
    left: 30%;
    font-size: 30px;
}
.pageTitle{
    position:absolute;
    left: 40%;
    font-size: 20px;
    white-space: nowrap;
}
.edit{
    position: absolute;
    right:20px;
    top:20px;
    font-size: 30px;
}
.container{
    display: grid;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    background-color: #1890FF;
    overflow-y: auto;
}
.main{
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-bottom: 80px;
}
h2{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
.avatar{
    display: flex;
    align-items: center;
    width: 130px;
    height: 130px;
    margin-left: 115px;
    border: 3px solid white;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
}
.box{
    width: 350px;
    height: 110px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
    margin-left: 5px;
    margin-bottom: 15px;
}
.boxTitle{
    padding-left: 15px;
}
.collectionImage{
    width: 80px;
    height: 60px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}
.friend_avatar{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    float:left;
}
.postText{
    margin-left: 20px;
}
.add{
    font-size: 40px;
    color: #1890FF;
    float:right;
    margin-right:5px;
}
.image{
    height: 20px;
    width: 40px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.footer{
    background-color: white;
    position:fixed;
    bottom:0;
    height: 80px;
    width:100%;
    text-align: center;
    white-space: nowrap;
    box-shadow: inset 0 0 5px grey;
}
.sidebar{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
#addMed{
    color: #1890FF;
}
#profile{
    color: #1890FF;
}
.footerBtn{
    font-size: 45px;
    color: gray;
    height: 50px;
    width: 50px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
#homeText{
    position: relative;
    color: gray;
    right: 50px;
}
#medText{
    position: relative;
    color: gray;
    right: 35px;
}
#rewardsText{
    position: relative;
    color:gray;
    left: 35px;
}
#profileText{
    position: relative;
    color: #1890FF;
    left: 48px;
}
.uploaded-avatar {
        width: 100%;
        height: 100%;
    }
.defalut-avatar{
    width: 70%;
    height: 80%;
}
.menu-item{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.menu-icon{
    color: #ffffff;
    font-size: 20px;
}
.menu-icon1{
    color: #ffffff;
    font-size: 25px;
    margin-right: 15px;
}
.menu-icon2{
    color: #ffffff;
    font-size: 25px;
    margin-right: 5px;
}
.menu-icon3{
    color: #ffffff;
    font-size: 25px;
    margin-right: 1px;
}
.menu-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.menu-button3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 130px;
    cursor: pointer;
}
.menu-button3 p{
    font-size: 20px;
    font-weight: 550;
    margin: 20px 35px;
}
.menu-button p{
    font-size: 20px;
    font-weight: 550;
    margin: 30px 30px;
    text-decoration: none;
}