/* User Profile Css */
.header{
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin-right: 100px;
    height: 60px;
}
.more{
    position: absolute;
    left: 5%;
    top:2.5%;
    font-size: 30px;
    color: white;
}
.user{
    position: relative;
    font-size: 30px;
    margin-right: 5px;
    left: 45%;
}
.pageTitle{
    position:relative;
    font-size: 20px;
    left: 45%;
    top: -5%;
    white-space: nowrap;
}
.edit{
    position: absolute;
    right:5%;
    top:2.5%;
    font-size: 30px;
}
.container{
    display: grid;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    background-color: #006973;
    overflow-y: auto;
}
.main{
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-bottom: 80px;
    background-color: white;
}
h2{
    text-align: center;
    color: #006973;
    margin-bottom: 0px;
}
p{
    text-align: center;
    color: #006973;
    margin-top: 0px;
    margin-bottom: 50px;
}
.avatar{
    display: flex;
    width: 130px;
    height: 130px;
    margin: auto;
    border: 3px solid #55BDCA;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
}
.box{
    width: 400px;
    height: 110px;
    background-color: #CFEEF5;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(83, 83, 83);
    margin-left: 5px;
    margin-bottom: 20px;
    padding-top: 10px;

}
.boxTitle{
    padding-left: 15px;
    color: #006973;
    font-weight: 800;
}
.collectionImage{
    width: 90px;
    height: 60px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}
.friend_avatar{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    float:left;
}
.postText{
    padding-left: 15px;
    color: #006973;
}
.add{
    float: right;
    padding-right: 15px;
    font-size: 50px;
    color: #F27B42;
}
.image{
    height: 20px;
    width: 40px;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 5px;
}
.sidebar{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    /* footer */
    .bottomButton{
        padding-left:20px;
        padding-right: 20px;
    }
    .footer{
        display: inline;
        position: fixed;
        text-align: center;
        bottom: 0;
        height:80px;
        --bottom-navigation-item-font-size: 13px;
        --bottom-navigation-item-active-color: #55BDCA;
        white-space: nowrap;
    }  
    .addButton{
        font-size: 35px;
    }

.uploaded-avatar {
    width: 100%;
    height: 100%;
}
.defalut-avatar{
    width: 70%;
    height: 80%;
}
.menu-item{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.menu-icon{
    color: #ffffff;
    font-size: 20px;
}
.menu-icon1{
    color: #ffffff;
    font-size: 25px;
    margin-right: 15px;
}
.menu-icon2{
    color: #ffffff;
    font-size: 25px;
    margin-right: 5px;
}
.menu-icon3{
    color: #ffffff;
    font-size: 25px;
    margin-right: 1px;
}
.menu-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.menu-button3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 130px;
    cursor: pointer;
}
.menu-button3 p{
    font-size: 20px;
    font-weight: 550;
    margin: 20px 35px;
}
.menu-button p{
    font-size: 20px;
    font-weight: 550;
    margin: 30px 30px;
    text-decoration: none;
}