/* Welcome Page Css */
/* --------------------------------Base Layout-----------------------------------------------*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #CFEEF5;
    overflow: hidden;
  }
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
/* --------------------------------Base Layout-----------------------------------------------*/

/* -------------------------------- Content -------------------------------------------------*/
  .welcome-text{
    margin-left: -20px;
  }
  h1{
    color: #006973;
    font-weight: 600;
    font-size: 45px;
  }
  img{
    margin-left: 50px;
    width: 180px;
  }
/* -------------------------------- Content -------------------------------------------------*/

/* -------------------------------- Buttons -------------------------------------------------*/
  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

.login-button,
.signup-button{
    width: 319px;
    height: 63px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: 700;
}

.login-button{
  background: #FFFFFF;
  color: #006973;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #006973;
  border: 2px solid white;
  transition: background-color 0.5s, color 0.5s;
}

.signup-button{
  background: #006973;
  color: white;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 2px solid 006973;
  transition: background-color 0.5s, color 0.5s;
}

.login-button:hover,
.signup-button:hover{
  background-color: #FFFFFF;
  color: #1890FF;
  transform: translateZ(10px);
}

.login-button::before,
.signup-button::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #FFFFFF;
  transition: width 0.3s;
  z-index: -1;
}

.login-button:hover,
.signup-button:hover{
  background-color: #FFFFFF;
  color: #006973;
  border-radius: 10px;
}

.login-button:hover::before,
.signup-button:hover::before{
  width: 100%;
  border-radius: 10px;
}
/* -------------------------------- Buttons -------------------------------------------------*/

/* -------------------------------- Small Screen -------------------------------------------*/
@media screen and (max-width: 400px) {
  .logo{
    margin: -150px -200px;
  }
  .buttons{
    margin-top: 50px;
  }
}
/* -------------------------------- Small Screen -------------------------------------------*/